body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
}



body {
	background-image: url(header.jpg);
	background-size:cover;
}

.titel {
	color:white;
	text-align: center;
	margin-top: 340px;
}

.button{
	background-color: #DA6030;
	border: 0px;
	border-radius: 29px;
	padding: 20px;

	
}

.btn:hover {
	background-color: #8D482C;
}

.button {
	
	display: flex;
	justify-content: center;
	
	
	

}